.route {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: var(--radius-main);
    border: 2px solid #f2f4f9;
    margin-bottom: 15px;      
    padding: 15px;
    font-size: 1.2rem;
}

.dragged {
    font-weight: 700;
    color: var(--color-blue);
    border: 2px solid var(--color-blue);
}

.route_delete {
    display: none;
    font-size: 20px;
    color: gray;
    cursor: pointer;
}

.route_delete:hover {    
    color: red;
    font-weight: 700;
}

.route:hover .route_delete {
    display: block;
}